<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
            <remove name="WebDAVModule" />
        </modules>
  <handlers>
            <add name="python flask2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\WorkPlace\github projects\HealthDataAnalysis_RestAPI\wfastcgi.exe" resourceType="Unspecified" />
            <add name="python flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Anaconda3\Scripts\wfastcgi.exe" resourceType="Unspecified" />
            <!-- <add name="python flask handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Anaconda3\Scripts\wfastcgi.exe" resourceType="Unspecified" /> -->
            <!-- <add name="Python FCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\Anaconda3\Scripts\wfastcgi.exe" resourceType="Unspecified" /> -->
            <!-- <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\WorkPlace\github projects\HealthDataAnalysis_RestAPI\wfastcgi.exe" resourceType="Unspecified" />    -->
    <!-- <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\programdata\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />  -->
  </handlers>
        <directoryBrowse enabled="true" />
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="app.app" />
  <!-- <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flask" /> -->
</appSettings>
</configuration>